$base-font-size: 16px;
$cor-texto: black;
$cor-menu: rgba(0, 0, 0, 0.938);
$cor-radape: #F8F9FA;
$bs-accordion-active-bg: 'red' !important;


main{
    width: 100%;
    
}

a{
  text-decoration: none;
  color: $cor-texto;
    
}
a:hover{
    text-decoration: none;
    color: $cor-texto;
}

span{
    font-size: 9pt;
}



.rodape{
    background-color: $cor-radape;
}

.menu{
    background-color: $cor-menu;
    position: absolute;
    z-index: 10;
    float: left;
    width: 100% !important;
    height: 100%;
    a{
        text-decoration: none;
    }
    ul{
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
       
        li{
            color:#F8F9FA;
            font-size: 40pt;
            padding: 40px;
            padding-right: 0px !important;
            margin-left: -10px;
            width: 100%;
            list-style-type: none;
        }
        li:hover{
            background-color: rgba(56, 54, 54, 0.637) !important;
        }
        

    }
    
}
.menu-superior{
    max-width: 100% !important;
    height: 180px;
    span{
        width: 80px;
        height: 80px;
    }

    .txtValor{
        margin: auto;
        float: left;
        text-align: center;
        font-size: 40pt;
       
    }
}

// .collapse:not(.show) {display: none;}

.container-login,.container-cadastro{
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 40pt;
    //border: 1px solid;
    padding: 30px;
    padding-top: 80px;
    //box-shadow: -5px 9px 17px -10px rgba(0,0,0,0.75);
    //box-shadow: 0px 15px 33px -14px rgba(122,117,122,0.81);

    h4{
        text-align: center;
        font-size: 65pt;
    }
    .form-login{
        margin-top: 200px;
        
    
        .form-group{
            padding: 10px 10px 10px 10px;
            margin-top: 90px;
            text-align: left;
    
            input{
                border-radius: 2%;
                border-top:  0;
                border-left: 0;
                border-right: 0;
                padding: 10px;
                font-size: 40pt;
            }
            input:focus{
                border-radius: 1%;
                border: 0px solid;
                // border-color: red;
                //box-shadow: 0 0 0 .25rem rgba(165, 14, 157, 0.25)
                //box-shadow: 0 0 0 .10rem rgba(4, 44, 97, 0.25)
                box-shadow: 0 4px 4px -4px;
            } 
        }
        .btn-login{
            margin-top: 120px;
            font-size: 40pt;
            border-radius: 10px;
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .btn-cadastro{
            margin-top: 90px;
            margin-bottom: 50px;
            margin-left: 10px;
            font-size: 40pt;
            border-radius: 10px;
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}


.pag-inicial{
    text-align: center;
    padding: 20px;
    .btn-add{
        width: 100px !important;
        height: 100px !important;
        border-radius: 50% !important;
        text-align: center;
        span{
            font-size: 60px;
            text-align: center;
            margin: auto;
        }
    }
}


.formTransacao{
    margin-top: 50px !important;
    text-align: center;
    font-size: 40pt;
    width: 90%;
    margin: auto;
    input{
        font-size: 45pt;
        border: 0px solid;
        border-radius: 0;
        border-bottom: 1px solid;
        text-align: left;
    }
    input:focus{
        box-shadow: none;
        border-bottom: 1px solid;
    }  
    label{
        margin: auto;
    }
    select{
        font-size: 35pt;
        border: 0px solid;
    }
    option{
        font-size: 10pt;
        border: 0px solid
    }
  
    select:focus{
        border: 0px solid;
        box-shadow: none; 
    }
    .div-valor{
        text-align: center !important; 
        #valor{
            border-bottom: 0px solid !important;
            text-align: center;
        }
        #saldo{
            border-bottom: 0px solid !important;
            text-align: center;
        }
       
    }
    .div-conta{
        label{font-size:28pt;}
        text-align: left;
        #icon-categoria{
            width: 120px;
            height: 120px;
            padding: 28px;
            border-radius: 80px;
        }
    
    }
    .div-coment{input{font-size: 28pt; text-align: left !important;}label{font-size:20pt;}}

    .btn-add{
        width: 450px;
        height: 100px;
        font-size: 40pt;
        border-radius: 100px;
        margin-top: 150px;
    }
    
}
.icon-menu{
    background-color: #F8F9FA;
}

.transacoes{
    a{
        text-decoration: none;
        color:rgba(39, 38, 38, 0.5);
    }
}



.accordion{
    margin-bottom: 40px !important;
    position: initial;
    
    .accordion-button:not(.collapsed){
        color: black;
    }
    h1{
        text-align: center;
        font-size: 35pt;
        margin-top: 10px;
        
    }
    .accordionOne{
        .accordion-header{
            border-bottom: 10px solid #FFD700 !important;
            background-color:  #FFD700 !important;
        }
        
    }
    .accordionTwo{
        .accordion-header{
            border-bottom: 10px solid #1E90FF !important;
            background-color:  #1E90FF !important;
        }
        
    }
    .accordionThree{
        .accordion-header{
            border-bottom: 10px solid #DC143C!important;
            background-color:  #DC143C !important;
        }
        
    }
    
    
    .accordion-item{
        font-size: 70px !important;
    }
    .ln-descricao{
        width: 100%;
        padding: 10px;
        border-radius: 16px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #FFFFFF;

        i{
            padding: 20px;
            border-radius: 60px;
            color: #FFFFFF;
        }
        span{
            font-size: 35pt;
            margin: auto;
        }
        .categoria{
            margin-left: 10px;

        }
        .valor{
            float: right;
        }
    }
}

    .accordion-button{
    font-size: 50px !important;
    height: 100px !important;
    }

    .accordionOne{
    color: red;
    }

    .accordion{
    --bs-accordion-active-bg: '#d116ba' !important;
    }





 /* listagem de contas */
.tela-contas{
    text-align: center;
    #icon-categoria{
        padding: 20px;
        border-radius: 50px;
    }
    a{
        text-decoration: none;
        color: $cor-texto;
    }
    .card-contas{
        width: 90% !important;
        font-size: 40pt;
        margin: auto;
        margin-top: 30px;
    
        .descricao{
            float: left;
        }
        .valor{
            float: right;
        }
        li{
            padding: 25px;
        }
    }   
    .btn-add{
        width: 100px !important;
        height: 100px !important;
        border-radius: 50% !important;
        text-align: center;
        margin-top: 90px;
        span{
            font-size: 60px;
            text-align: center;
            margin: auto;
        }
    }
}



 /* Card total */
 .card-total{
    width: 100%;
    text-align: center;
    background-color: #64656646;
    
    h3{
        font-size: 30pt !important;
        color:rgba(0, 0, 0, 0.514)
    }
    h4{
        font-size: 50pt !important;
    }
 }


 /* Categoria */
 .area-categoria{
    border: 1px solid red !important;
    text-align: center;
    a{
        text-decoration: none;
        color: black;
    }
    .card-categoria{
        width: 400px !important;
        height: 100px !important;
        padding: 0px;
        border: 1px solid green;
        padding: 20px;
    }
    
}


 