main {
  width: 100%; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

span {
  font-size: 9pt; }

.rodape {
  background-color: #F8F9FA; }

.menu {
  background-color: black;
  position: absolute;
  float: left;
  width: 80% !important;
  height: 100%; }
  .menu ul li {
    color: #F8F9FA;
    font-size: 40pt;
    padding: 40px;
    list-style-type: none; }

.menu-superior {
  max-width: 100% !important;
  height: 180px; }
  .menu-superior span {
    width: 80px;
    height: 80px; }
  .menu-superior .txtValor {
    margin: auto;
    float: left;
    text-align: center;
    font-size: 40pt; }

.container-login {
  margin-top: 20px;
  padding: 40px;
  box-shadow: -5px 9px 17px -10px rgba(0, 0, 0, 0.75); }
  .container-login h4 {
    text-align: center;
    margin-bottom: 30px; }
  .container-login .form-login .form-group {
    padding: 10px 10px 10px 10px;
    margin-top: 10px; }
    .container-login .form-login .form-group input {
      border-radius: 2%;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      padding: 10px; }
    .container-login .form-login .form-group input:focus {
      border-radius: 1%;
      border: 0px solid;
      box-shadow: 0 4px 4px -4px; }
  .container-login .form-login .btn-login {
    margin-top: 20px; }
  .container-login .form-login .btn-cadastro {
    margin-top: 20px;
    margin-left: 10px; }

.pag-inicial {
  text-align: center;
  padding: 20px; }
  .pag-inicial .btn-add {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    text-align: center; }
    .pag-inicial .btn-add span {
      font-size: 60px;
      text-align: center;
      margin: auto; }

.formTransacao {
  margin-top: 50px !important;
  font-size: 40pt;
  width: 90%;
  margin: auto; }
  .formTransacao input {
    font-size: 45pt;
    border: 0px solid;
    text-align: center; }
  .formTransacao input:focus {
    border: 0px solid;
    box-shadow: none; }
  .formTransacao label {
    margin: auto; }
  .formTransacao select {
    font-size: 35pt;
    border: 0px solid; }
  .formTransacao option {
    font-size: 10pt;
    border: 0px solid; }
  .formTransacao select:focus {
    border: 0px solid;
    box-shadow: none; }
  .formTransacao .div-valor {
    text-align: center; }
  .formTransacao .div-conta label {
    font-size: 28pt; }
  .formTransacao .div-coment input {
    font-size: 28pt;
    text-align: left; }
  .formTransacao .div-coment label {
    font-size: 20pt; }
  .formTransacao .btn-add {
    width: 450px;
    height: 80px;
    margin-top: 50px !important;
    font-size: 30pt;
    border-radius: 90px; }

.icon-menu {
  background-color: #F8F9FA; }

.accordion {
  margin-bottom: 40px !important; }
  .accordion .accordion-button:not(.collapsed) {
    color: black; }
  .accordion h1 {
    text-align: center;
    font-size: 35pt;
    margin-top: 10px; }
  .accordion .accordionOne .accordion-header {
    border-bottom: 10px solid #FFD700 !important;
    background-color: #FFD700 !important; }
  .accordion .accordionTwo .accordion-header {
    border-bottom: 10px solid #1E90FF !important;
    background-color: #1E90FF !important; }
  .accordion .accordionThree .accordion-header {
    border-bottom: 10px solid #DC143C !important;
    background-color: #DC143C !important; }
  .accordion .accordion-item {
    font-size: 70px !important; }
  .accordion .ln-descricao {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FFFFFF; }
    .accordion .ln-descricao i {
      padding: 20px;
      border-radius: 60px;
      color: #FFFFFF; }
    .accordion .ln-descricao span {
      font-size: 35pt;
      margin: auto; }
    .accordion .ln-descricao .categoria {
      margin-left: 10px; }
    .accordion .ln-descricao .valor {
      float: right; }

.accordion-button {
  font-size: 50px !important;
  height: 100px !important; }

.accordionOne {
  color: red; }

.accordion {
  --bs-accordion-active-bg: '#d116ba' !important; }

/* listagem de contas */
.card-contas {
  width: 90% !important;
  font-size: 40pt;
  margin: auto;
  margin-top: 30px; }
  .card-contas .descricao {
    float: left; }
  .card-contas .valor {
    float: right; }
  .card-contas li {
    padding: 25px; }

/* Card total */
.card-total {
  width: 100%;
  border: 1px solid red;
  text-align: center; }
  .card-total h3 {
    font-size: 30pt !important;
    color: rgba(0, 0, 0, 0.514); }
  .card-total h4 {
    font-size: 50pt !important; }
